name: Build

on:
  repository_dispatch:
  push:
  pull_request:
    branches: [ master ]
  release:
    types:
      - created

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Setup Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.x'

    - name: Pull ESP-IDF docker
      run: docker pull espressif/idf:v3.3.1

    - name: Checkout
      uses: actions/checkout@v3

    - name: Build
      run: docker run --rm -v $PWD:/project -w /project espressif/idf:v3.3.1 make firmware

    - name: Upload Artifacts
      uses: actions/upload-artifact@v3
      with:
        name: NINA_W102-${{ github.sha }}
        path: |
          NINA_W102*.bin

    - name: Upload Release Asset
      uses: softprops/action-gh-release@v1
      if: ${{ github.event_name == 'release' }}
      with:
        files: |
          NINA_W102*.bin
